
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.gamesoldseparatelystore {
  box-sizing: border-box;
  padding: 94.529rem 0rem 0.021rem 0rem;
  width: 100%;
  height: 545.4422rem;
  background-color: #ffffff;

  .divpagecontainer-vTo {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;

    .mainmaincontent-k5T {
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 16.5rem;
      width: 100%;
      align-items: center;
      display: flex;

      .div-cdT {
        margin-right: 0.0047rem;
        width: calc(100% - 0.0047rem);
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .div-uMf {
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 100% 141.469%;
          background-position: 0 -19.6979rem;
          background-image: url('REPLACE_IMAGE:f950f21ed4ea4fb81ba50005510183580deb4660');
          flex-shrink: 0;
        }
        .div-KRP {
          background-image: url('REPLACE_IMAGE:34e6ec40829834218e074bb1804e851d1e88cbf7');
          flex-shrink: 0;
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 100% 141.469%;
        }
        .div-PAM {
          background-size: 100% 141.469%;
          background-image: url('REPLACE_IMAGE:ce5866fa8a671a6fb23d3494a1fe745085d74d5d');
          flex-shrink: 0;
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
        }
      }
      .div-qHF {
        width: calc(100% - 0.0047rem);
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.005rem 11rem 0rem;

        .div-Vch {
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 100% 141.469%;
          background-image: url('REPLACE_IMAGE:26c7d43899a925725c14b8e913e1797c93a7d239');
          flex-shrink: 0;
        }
        .div-DSD {
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 100% 141.469%;
          background-image: url('REPLACE_IMAGE:d63a69b6b837b4a3ee4ddf9dcce6a6a030073d2a');
          flex-shrink: 0;
        }
        .div-JCm {
          background-image: url('REPLACE_IMAGE:b6126d39b81169b742580c01f54124085a61cdca');
          flex-shrink: 0;
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 100% 106.102%;
          background-position: 0 -1.4492rem;
        }
      }
      .div-AEy {
        flex-shrink: 0;
        margin: 0rem 21.1rem 7.5rem 18.1rem;
        box-sizing: border-box;
        padding: 0rem 0.002rem 3.75rem 3rem;
        width: calc(100% - 39.2rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .naruto-capsule-001-1mP {
          display: flex;
          font-size: 1.6rem;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          text-transform: uppercase;
          color: #3a3a3a;
          flex-shrink: 0;
          margin: 0rem 0.073rem 5.519rem 0rem;
          align-items: center;
          justify-content: center;
          line-height: 1.1875;
          letter-spacing: 0.16rem;
        }
        .ul-NkM {
          flex-shrink: 0;
          width: 100%;
          height: 81.375rem;
          overflow: hidden;
          position: relative;
          display: flex;
          column-gap: 3rem;
          align-items: center;

          .auto-group-wsmo-HcR {
            width: 34.3328rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .a-h3s {
              margin-bottom: 3.75rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-hinr-Qiy {
                margin-bottom: 1.0297rem;
                width: 100%;
                height: 35.9828rem;
                position: relative;
                flex-shrink: 0;

                .fbf6e82d-e7ef-49a3-bf4d-b03e3840da1c600x600jpg-ufj {
                  position: relative;
                  left: 0;
                  top: 0;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:7597fe186d10f9fcae1836f2f2b64d880e250254');
                  width: 34.3328rem;
                  height: 34.3328rem;
                }
                .naruto-fishcake-rug-LFF {
                  color: #3a3a3a;
                  font-family: Roboto, 'Source Sans Pro';
                  height: 1.7rem;
                  left: 0;
                  top: 34.2828rem;
                  display: flex;
                  font-size: 1.4rem;
                  font-weight: 400;
                  white-space: nowrap;
                  width: 12.9rem;
                  position: absolute;
                  line-height: 1.1999999455;
                }
              }
              .item-10000-xXX {
                flex-shrink: 0;
                display: flex;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.2;
                color: #333232;
                font-family: Karla, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .a-dNm {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-kuc1-wuF {
                width: 100%;
                height: 35.9828rem;
                position: relative;
                flex-shrink: 0;
                margin-bottom: 1.0297rem;

                .f9cfef0-e3a2-4dca-b558-1b767784ea6b600x600jpg-Fuw {
                  position: relative;
                  left: 0;
                  top: 0;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:d02fd3b11e653bef630983dfcd28a2792ab2c9f4');
                  width: 34.3328rem;
                  height: 34.3328rem;
                }
                .gamakichi-rug-J7X {
                  font-family: Roboto, 'Source Sans Pro';
                  height: 1.7rem;
                  position: absolute;
                  top: 34.2828rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.1999999455;
                  color: #3a3a3a;
                  white-space: nowrap;
                  width: 9.4rem;
                  left: 0;
                  display: flex;
                }
              }
              .item-13500-9dw {
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.2;
                color: #333232;
                font-family: Karla, 'Source Sans Pro';
              }
            }
          }
          .auto-group-uanq-EvH {
            width: 34.3328rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .a-iqT {
              margin-bottom: 3.75rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-crvz-3Mw {
                width: 100%;
                height: 35.9828rem;
                position: relative;
                flex-shrink: 0;
                margin-bottom: 1.0297rem;

                .d4e102d-a730-428f-9014-3ef15cfa1a39600x600jpg-MNd {
                  background-image: url('REPLACE_IMAGE:fe87e34262cf51259a200c8bc1c095f5e7bebc45');
                  width: 34.3328rem;
                  height: 34.3328rem;
                  position: relative;
                  left: 0;
                  top: 0;
                  background-size: 100% 100%;
                }
                .rinnegan-eye-rug-zgV {
                  display: flex;
                  font-weight: 400;
                  color: #3a3a3a;
                  white-space: nowrap;
                  position: absolute;
                  top: 34.2828rem;
                  left: 0;
                  font-size: 1.4rem;
                  line-height: 1.1999999455;
                  font-family: Roboto, 'Source Sans Pro';
                  width: 11.1rem;
                  height: 1.7rem;
                }
              }
              .item-10000-f1w {
                color: #333232;
                font-family: Karla, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.2;
              }
            }
            .a-x13 {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-3up3-Hp1 {
                width: 100%;
                height: 35.9828rem;
                position: relative;
                flex-shrink: 0;
                margin-bottom: 1.0297rem;

                .cf9d1-fa9f-4136-809e-aadf499e489b600x600jpg-oXT {
                  width: 34.3328rem;
                  height: 34.3328rem;
                  position: relative;
                  left: 0;
                  top: 0;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:830336a08dce196a790b64e4aed717a5bd8f8065');
                }
                .sasuke-mangekyo-sharingan-eye-rug-Tru {
                  width: 23.3rem;
                  position: absolute;
                  display: flex;
                  color: #3a3a3a;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  height: 1.7rem;
                  left: 0;
                  top: 34.2828rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.1999999455;
                }
              }
              .item-10000-19f {
                flex-shrink: 0;
                display: flex;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.2;
                color: #333232;
                font-family: Karla, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .auto-group-kziv-6gu {
            width: 34.3328rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .a-24m {
              margin-bottom: 3.75rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-a1qp-9fB {
                margin-bottom: 1.0297rem;
                width: 100%;
                height: 35.9828rem;
                position: relative;
                flex-shrink: 0;

                .ca12bf76-c5ca-4c3c-b78a-0310e9963420600x600jpg-FiD {
                  background-image: url('REPLACE_IMAGE:a316601fbf76d4f9cff07f5b4bc53f7ee0459560');
                  width: 34.3328rem;
                  height: 34.3328rem;
                  position: relative;
                  left: 0;
                  top: 0;
                  background-size: 100% 100%;
                }
                .ramen-rug-ibo {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  height: 1.7rem;
                  display: flex;
                  left: 0;
                  top: 34.2828rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.1999999455;
                  color: #3a3a3a;
                  width: 7.2rem;
                  position: absolute;
                }
              }
              .item-12000-PC9 {
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.2;
                color: #333232;
                font-family: Karla, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
            }
            .a-HYR {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;

              .auto-group-7sa1-1jK {
                position: relative;
                flex-shrink: 0;
                margin-bottom: 1.0297rem;
                width: 100%;
                height: 35.9828rem;

                .dbf1586-1f92-4e0b-8c72-67242a26364d600x600jpg-w7B {
                  position: relative;
                  left: 0;
                  top: 0;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:3f5e84f7339f3d792859147b774e6341aa36896e');
                  width: 34.3328rem;
                  height: 34.3328rem;
                }
                .sage-mode-eye-rug-yJm {
                  font-family: Roboto, 'Source Sans Pro';
                  height: 1.7rem;
                  top: 34.2828rem;
                  display: flex;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.1999999455;
                  color: #3a3a3a;
                  white-space: nowrap;
                  width: 12.4rem;
                  position: absolute;
                  left: 0;
                }
              }
              .item-13500-deD {
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.2;
                color: #333232;
                font-family: Karla, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
            }
          }
        }
      }
      .div-WCD {
        margin-right: 0.0047rem;
        width: calc(100% - 0.0047rem);
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .div-bUZ {
          background-image: url('REPLACE_IMAGE:cb2567fd63807ea0f334b69bfc86f26e473818c4');
          flex-shrink: 0;
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 141.965% 100%;
        }
        .div-5ed {
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 141.965% 100%;
          background-image: url('REPLACE_IMAGE:a368c01dee2779a80d1ad578bdff6165c6c76011');
          flex-shrink: 0;
        }
        .div-Ag5 {
          background-image: url('REPLACE_IMAGE:f2163128aea8c01fc829027d22ac3fe32045bb3c');
          flex-shrink: 0;
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 100% 159.939%;
          background-position: 0 -14.2355rem;
        }
      }
      .div-S7o {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.005rem 11rem 0rem;
        width: calc(100% - 0.0047rem);
        overflow: hidden;
        position: relative;
        display: flex;

        .div-Hu7 {
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 100% 188.626%;
          background-image: url('REPLACE_IMAGE:3a18b832e8294a564accccd5cd77b514e4b1d255');
          flex-shrink: 0;
        }
        .div-Zbj {
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 100% 141.469%;
          background-image: url('REPLACE_IMAGE:a0fdec8dbb42cae3acc1ce990c8a5a04daa32b9f');
          flex-shrink: 0;
        }
        .div-3mo {
          background-image: url('REPLACE_IMAGE:e6651af04f68d901ca0e7d60dfb779edbb14efa0');
          flex-shrink: 0;
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 141.373% 100%;
        }
      }
      .div-j8q {
        width: calc(100% - 39.2rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 21.1rem 7.5rem 18.1rem;
        box-sizing: border-box;
        padding: 0rem 3rem 3.75rem 3rem;

        .and-under-NxV {
          font-size: 1.6rem;
          line-height: 1.1875;
          letter-spacing: 0.16rem;
          color: #3a3a3a;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          margin: 0rem 0rem 5.519rem 2.863rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          text-transform: uppercase;
        }
        .ul-Pch {
          column-gap: 3rem;
          align-items: center;
          flex-shrink: 0;
          margin-right: 25rem;
          height: 29.4797rem;
          overflow: hidden;
          position: relative;
          display: flex;

          .a-3SM {
            width: 25rem;
            height: 100%;
            flex-shrink: 0;

            .auto-group-vryv-xJR {
              height: 26.65rem;
              position: relative;
              margin-bottom: 1.0297rem;
              width: 100%;

              .untitleddesign600x600png-pLd {
                top: 0;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:bf8d321c7a33616d9d143f1c6cd465c4c7c18cc8');
                width: 25rem;
                height: 25rem;
                position: relative;
                left: 0;
              }
              .black-betty-boop-pE9 {
                color: #3a3a3a;
                white-space: nowrap;
                height: 1.7rem;
                top: 24.95rem;
                left: 0;
                display: flex;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.1999999455;
                font-family: Roboto, 'Source Sans Pro';
                width: 10.6rem;
                position: absolute;
              }
            }
            .div-Byo {
              height: 1.8rem;
              display: flex;
              align-items: center;
              margin-right: 11.4641rem;
              width: calc(100% - 11.4641rem);

              .item-10000-s5w {
                margin-right: 1.7406rem;
                font-size: 1.5rem;
                font-weight: 700;
                flex-shrink: 0;
                white-space: nowrap;
                display: flex;
                line-height: 1.2;
                color: #333232;
                font-family: Karla, 'Source Sans Pro';
              }
              .span-4AR {
                border-radius: 0.2rem;
                width: 6.0953rem;
                font-weight: 700;
                border: solid 0.1rem #333232;
                box-sizing: border-box;
                height: calc(100% - 0.2125rem);
                align-items: center;
                line-height: 1.2;
                background-color: #ffffff;
                margin: 0.131rem 0rem 0.081rem 0rem;
                white-space: nowrap;
                text-transform: uppercase;
                color: #333232;
                font-family: Karla, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                font-size: 0.75rem;
                letter-spacing: 0.1rem;
              }
            }
          }
          .a-fpR {
            flex-shrink: 0;
            width: 25rem;
            height: 100%;

            .auto-group-sqvd-AmB {
              margin-bottom: 1.0297rem;
              width: 100%;
              height: 26.65rem;
              position: relative;

              .untitleddesign2600x600png-GpD {
                background-image: url('REPLACE_IMAGE:72fd3aadbc881bfd226df32580ce43a2b01973aa');
                width: 25rem;
                height: 25rem;
                position: relative;
                left: 0;
                top: 0;
                background-size: 100% 100%;
              }
              .bape-head-wfT {
                position: absolute;
                display: flex;
                line-height: 1.1999999455;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                width: 6.8rem;
                left: 0;
                top: 24.95rem;
                font-size: 1.4rem;
                font-weight: 400;
                color: #3a3a3a;
                height: 1.7rem;
              }
            }
            .div-oxZ {
              height: 1.8rem;
              display: flex;
              align-items: center;
              margin-right: 11.5063rem;
              width: calc(100% - 11.5063rem);

              .item-12000-vXP {
                font-size: 1.5rem;
                font-weight: 700;
                color: #333232;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.6984rem;
                display: flex;
                line-height: 1.2;
                font-family: Karla, 'Source Sans Pro';
              }
              .span-p6y {
                width: 6.0953rem;
                height: calc(100% - 0.2125rem);
                line-height: 1.2;
                text-transform: uppercase;
                border: solid 0.1rem #333232;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Karla, 'Source Sans Pro';
                box-sizing: border-box;
                font-size: 0.75rem;
                letter-spacing: 0.1rem;
                white-space: nowrap;
                margin: 0.131rem 0rem 0.081rem 0rem;
                font-weight: 700;
                color: #333232;
                border-radius: 0.2rem;
                flex-shrink: 0;
              }
            }
          }
          .a-y8H {
            width: 25rem;
            height: 100%;
            flex-shrink: 0;

            .auto-group-bf8z-WP7 {
              width: 100%;
              height: 26.65rem;
              position: relative;
              margin-bottom: 1.0297rem;

              .tomiewebformat600x600png-pPo {
                position: relative;
                left: 0;
                top: 0;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:c8cfb4c1e9c1f908349ab6086813d40e6e88e5af');
                width: 25rem;
                height: 25rem;
              }
              .tomie-wall-piece-VF3 {
                font-family: Roboto, 'Source Sans Pro';
                width: 10.7rem;
                position: absolute;
                display: flex;
                font-weight: 400;
                color: #3a3a3a;
                white-space: nowrap;
                height: 1.7rem;
                left: 0;
                top: 24.95rem;
                font-size: 1.4rem;
                line-height: 1.1999999455;
              }
            }
            .item-12000-Yj7 {
              display: flex;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2;
              color: #333232;
              font-family: Karla, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .div-S3o {
        margin-right: 0.0047rem;
        width: calc(100% - 0.0047rem);
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .div-Xqw {
          background-position: -0rem -9.849rem;
          background-image: url('REPLACE_IMAGE:adda7680612ba5a6a2e014c2ab07f228a89fbc4b');
          flex-shrink: 0;
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 100% 141.469%;
        }
        .div-o2m {
          flex-shrink: 0;
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 108.099% 100%;
          background-position: -2.0409rem 0;
          background-image: url('REPLACE_IMAGE:4b675507caa11fd7a7a959cd073d2cdab1be4a7e');
        }
        .div-s2d {
          background-image: url('REPLACE_IMAGE:f3e4d990d5b7f3b3cbab5b9eaf97a64e89a273eb');
          flex-shrink: 0;
          width: 50.3984rem;
          height: 47.5rem;
          position: relative;
          background-size: 100% 141.469%;
          background-position: -0rem -9.849rem;
        }
      }
    }
    .footer-uk1 {
      padding-top: 7.2rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #f6f6f6;
      flex-shrink: 0;
      box-sizing: border-box;

      .ul-dR7 {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 50.72rem 5.25rem 50.72rem;
        width: calc(100% - 101.4406rem);
        display: flex;

        .search-8Ms {
          margin-right: 2.9516rem;
          display: flex;
          align-items: center;
          font-weight: 400;
          color: #333232;
          font-family: Karla, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          justify-content: center;
          font-size: 1.5rem;
          line-height: 1.2;
        }
        .faqs-size-chart-QaH {
          margin-right: 3.1125rem;
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          color: #333232;
          font-family: Karla, 'Source Sans Pro';
          flex-shrink: 0;
          justify-content: center;
          font-weight: 400;
          line-height: 1.2;
          white-space: nowrap;
        }
        .pot-of-greed-preorder-J9s {
          justify-content: center;
          font-weight: 400;
          font-family: Karla, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2.9953rem;
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          line-height: 1.2;
          color: #333232;
          flex-shrink: 0;
        }
        .custom-inquiry-PSD {
          line-height: 1.2;
          font-family: Karla, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.5rem;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          color: #333232;
          flex-shrink: 0;
          display: flex;
        }
      }
      .hr-ggD {
        height: 0.1rem;
        overflow: hidden;
        position: relative;
        border: solid 0.1rem #dddddd;
        box-sizing: border-box;
        flex-shrink: 0;
        margin-bottom: 2.75rem;
        width: 100%;
      }
      .auto-group-zzkf-Bcy {
        width: 100%;
        height: 9.6rem;
        position: relative;
        flex-shrink: 0;

        .div-6E9 {
          width: 18.3rem;
          height: 5.95rem;
          position: absolute;
          left: 111.82rem;
          top: 0;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .ul-nsf {
            width: calc(100% - 10.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.02rem 1.65rem 10.28rem;
            box-sizing: border-box;
            padding: 0.02rem 0.08rem 0.02rem 0.02rem;

            .svg-eQ5 {
              height: 2.4604rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.9957rem;
              width: 2.4609rem;
            }
            .svg-9bj {
              flex-shrink: 0;
              margin-bottom: 0.0406rem;
              width: 2.4433rem;
              height: 2.1249rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .gamesoldseparatelycom-Saq {
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            color: #333232;
            font-family: Karla, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .divshopify-section-header-Jsw {
          box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1000000015);
          width: 151.2rem;
          height: 5.25rem;
          position: absolute;
          left: 0;
          top: 4.35rem;

          .header-1XT {
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.5rem 1rem;

            .div-jiM {
              display: flex;
              align-items: center;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.453rem 1.082rem 0.453rem 3rem;
              width: 100%;
              height: 100%;

              .ulsitenav-Rr5 {
                align-items: center;
                flex-shrink: 0;
                margin: 0.297rem 50.975rem 0.747rem 0rem;
                height: calc(100% - 1.0438rem);
                display: flex;

                .span-7iu {
                  justify-content: center;
                  font-size: 1.5rem;
                  border: solid 0.1rem #3a3a3a;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  line-height: 1.5;
                  color: #3a3a3a;
                  white-space: nowrap;
                  box-sizing: border-box;
                  flex-shrink: 0;
                  margin-right: 2.3486rem;
                  width: 3.9108rem;
                  font-weight: 400;
                  font-family: Karla, 'Source Sans Pro';
                }
                .shop-MdF {
                  margin-right: 2.3641rem;
                  display: flex;
                  font-weight: 400;
                  line-height: 1.2;
                  color: #3a3a3a;
                  font-family: Karla, 'Source Sans Pro';
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  font-size: 1.5rem;
                  white-space: nowrap;
                }
                .our-story-Rt1 {
                  align-items: center;
                  font-size: 1.5rem;
                  line-height: 1.2;
                  color: #3a3a3a;
                  display: flex;
                  justify-content: center;
                  font-weight: 400;
                  font-family: Karla, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .gss180xpng-XRF {
                flex-shrink: 0;
                margin-right: 43.7131rem;
                width: 5rem;
                height: 3.3438rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:12a935a7512bf3e9e2ef28eacf56bf7b96ae4a55');
              }
              .div-bAD {
                display: flex;
                align-items: flex-end;
                flex-shrink: 0;
                margin: 0.497rem 0rem 0.547rem 0rem;
                height: calc(100% - 1.0438rem);

                .custom-inquiry-t9K {
                  font-weight: 400;
                  line-height: 1.5;
                  font-family: Karla, 'Source Sans Pro';
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  font-size: 1.5rem;
                  white-space: nowrap;
                  margin-right: 3.34rem;
                  display: flex;
                  color: #3a3a3a;
                }
                .search-MHo {
                  font-family: Karla, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.5rem;
                  text-transform: lowercase;
                  color: #3a3a3a;
                  line-height: 1.5;
                  margin-right: 1.8997rem;
                  display: flex;
                  font-weight: 400;
                }
                .svg-px5 {
                  width: 1.5042rem;
                  height: 2.0003rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.463rem 0.007rem 0rem;
                }
                .cart-uTj {
                  color: #3a3a3a;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.5rem;
                  font-weight: 400;
                  white-space: nowrap;
                  text-align: right;
                  line-height: 1.5;
                  font-family: Karla, 'Source Sans Pro';
                }
              }
            }
          }
        }
      }
    }
  }
}
